In [2]:
import numpy as np
import pandas as pd
import csv

In [56]:
pop_2020 = pd.read_csv("2020_CityPopulation__Area.csv")

In [134]:
City_Virus_Daily = pd.read_excel("City_Virus_Template_Daily.xlsx")

In [41]:
Hospitals_P = pd.read_excel("Hospitals_by_Province.xlsx")

In [170]:
data_1 = pd.read_csv("export_dataframe_final.csv")

In [3]:
export_dataframe = pd.read_csv("export_dataframe_final.csv", encoding='utf-8')

In [59]:
latest_data = pd.read_csv("latest_data_DXY.csv", encoding = "utf-8")

In [24]:
a = []
for i in range(len(latest_data.provinceEnglishName)):
    if latest_data.provinceEnglishName[i] == 'Beijing':
        a.append(latest_data.province_zipCode[i])

In [39]:
latest_data['province_zipCode'] = latest_data['province_zipCode']/10000

In [44]:
df2 = pd.merge(latest_data, Hospitals_P, how='left', left_on='province_zipCode', right_on='GbProv')

In [46]:
df2['精神病医院'].isna().sum()

1

In [ ]:
cityEnglishName = []
for i in df2.cityEnglishName: 
    cityEnglishName.append(i.replace(' District', ''))

In [120]:
df2['cityEnglishName'] = cityEnglishName

In [122]:
df3 = pd.merge(df2, pop_2020, how='left', left_on='cityEnglishName', right_on='City_EN')

In [124]:
df3.Population.isna().sum()

164

In [125]:
df3.to_csv(r'text_text.csv', header=True, encoding='utf_8_sig')

In [127]:
df4 = pd.merge(df3, export_dataframe, how='left', left_on='cityEnglishName', right_on='City_EN')

In [ ]:
x = ['City_EN_x', 'FID', 'GbCity', 'City_CH', 'City_EN_y', 'GbProv_y', 'Prov_CH_y', 'Prov_EN', 'N_C_0217', 'T_C_0217', 'N_D_0217', 'T_D_0217', 'N_H_0217', 'T_H_0217']

In [132]:
df4 = df4.drop(columns=x)

In [135]:
df4 = df4.drop(columns = ['Population_y', 'Land_Area_mi2_y'])

In [136]:
df4.to_csv(r'text_text2.csv', header=True, encoding='utf_8_sig')

In [137]:
df4.Population_x.isna().sum()

164

In [146]:
df5 = pd.read_csv('text_text2.csv', encoding='utf_8_sig')

In [147]:
DATA = pd.DataFrame()
DATA['provinceName'] = df5['provinceName']
DATA['cityName'] = df5['cityName']
DATA['Population'] = df5['Population_x']
DATA['Land_Area_mi2'] = df5['Land_Area_mi2_x']

In [148]:
DATA.to_csv(r'working.csv', header=True, encoding='utf_8_sig')

In [149]:
df6 = pd.read_csv('working.csv', encoding='utf_8_sig')

In [151]:
df6[:2]

   Unnamed: 0 provinceName cityName Population  Land_Area_mi2
0           0          四川省       凉山    4680000      23266.960
1           1     新疆维吾尔自治区       塔城     924000      40365.436

In [152]:
df4[:2]

,Unnamed: 0_x,provinceName,provinceEnglishName,province_zipCode,cityName,cityEnglishName,city_zipCode,province_confirmedCount,province_suspectedCount,province_curedCount,...,综合医院,耳鼻喉医院,肿瘤医院,胸科医院,脑科医院,诊所,骨科医院,Population_x,Land_Area_mi2_x,Unnamed: 0_y
0,35,四川省,Sichuan,51.0,凉山,Liangshan,NaN,177,0,1,...,3605,55.0,53.0,12.0,13,11546,379,NaN,NaN,NaN
1,104,新疆维吾尔自治区,Xinjiang,65.0,塔城,Tacheng,654201.0,39,0,0,...,942,4.0,5.0,5.0,5,2438,18,NaN,NaN,NaN

In [153]:
df7 = pd.merge(df4, df6, how='left', left_on='cityName', right_on='cityName')

In [156]:
df7 = df7.drop(columns = ['Population_x', 'Land_Area_mi2_x'])

In [158]:
df7.to_csv(r'Data_Merge.csv', header=True, encoding='utf_8_sig')